workflows/clase-5-181225/w-cron-reminder-181225.json
{
    "name": "cron-reminder-181225",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 1
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -304,
                144
            ],
            "id": "9802ab0c-d299-4727-93e4-30eab5e3c4fa",
            "name": "Schedule Trigger"
        },
        {
            "parameters": {
                "operation": "get",
                "dataTableId": {},
                "filters": {
                    "conditions": [
                        {
                            "keyName": "reminder_date",
                            "condition": "gte",
                            "keyValue": "={{ DateTime.now().minus(5, 'minutes') }}"
                        },
                        {
                            "keyName": "reminder_date",
                            "condition": "lte",
                            "keyValue": "={{ DateTime.now().plus(5, 'minutes') }}"
                        }
                    ]
                },
                "returnAll": true
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1,
            "position": [
                -304,
                440
            ],
            "id": "cbfc2c28-979f-44ea-aa24-0af0be8a449c",
            "name": "get reminders",
            "disabled": true
        },
        {
            "parameters": {
                "amount": 1.5
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                816,
                144
            ],
            "id": "9520959c-1c99-4c20-9b0c-0ba5f873505b",
            "name": "Wait",
            "webhookId": "3d558b41-3f58-4f6b-b83a-3c9ba2eee194"
        },
        {
            "parameters": {
                "operation": "sendChatAction",
                "chatId": "={{ $json.telefono }}"
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                592,
                -48
            ],
            "id": "bd34081a-31eb-4a9a-8664-4609e935039a",
            "name": "typing",
            "webhookId": "67cdecba-9962-43f1-a9ca-381237205a0f",
            "credentials": {}
        },
        {
            "parameters": {
                "chatId": "={{ $json.telefono }}",
                "text": "=Recordatorio programado desde n8n\n\nRecordatorio: {{ $json.reminder }}\nFecha programada: {{ DateTime.fromISO($json.reminder_date).setLocale('es').format('cccc d hh:mm a') }}",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                592,
                144
            ],
            "id": "3ae39253-e866-4c06-9817-dd3d7b045a0c",
            "name": "message 1",
            "webhookId": "be5a9924-1fe8-4ca1-944e-35957dcf59a1",
            "credentials": {}
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                368,
                144
            ],
            "id": "c13065fe-e6a7-4bd0-8195-e392dcc75489",
            "name": "Loop Over Items"
        },
        {
            "parameters": {
                "operation": "deleteRows",
                "dataTableId": {
                    "__rl": true,
                    "value": "ZF61nXWPbrTrTc7T",
                    "mode": "list",
                    "cachedResultName": "reminders",
                    "cachedResultUrl": "/projects/RTUxSaWTNyTCymto/datatables/ZF61nXWPbrTrTc7T"
                },
                "filters": {
                    "conditions": [
                        {
                            "keyValue": "={{ $('get reminders').item.json.id }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1,
            "position": [
                144,
                440
            ],
            "id": "d71e6674-3de9-4482-b2ab-2c044247d3b8",
            "name": "delete reminder",
            "disabled": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "9aa0dcdb-cc77-4eb1-93f2-17dad7cc8847",
                            "leftValue": "={{ $json.reminder_date.toDateTime().day }}",
                            "rightValue": "={{ $now.day }}",
                            "operator": {
                                "type": "dateTime",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -80,
                440
            ],
            "id": "2a3405be-9d34-48c8-a539-4fbda5b3081c",
            "name": "If",
            "disabled": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "a26727ff-67d7-47fd-80c7-97e3034db732",
                            "leftValue": "={{ $json.reminder_date.toDateTime().setZone('America/Mexico_City') }}",
                            "rightValue": "={{ $now.setZone('America/Mexico_City').minus(2, 'minutes')}}",
                            "operator": {
                                "type": "dateTime",
                                "operation": "afterOrEquals"
                            }
                        },
                        {
                            "id": "be14ea5c-9ef8-41e6-90ee-4664a1dddd67",
                            "leftValue": "={{ $json.reminder_date.toDateTime().setZone('America/Mexico_City') }}",
                            "rightValue": "={{ $now.setZone('America/Mexico_City').plus(2, 'minutes')}}",
                            "operator": {
                                "type": "dateTime",
                                "operation": "beforeOrEquals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2.2,
            "position": [
                144,
                144
            ],
            "id": "fd36eff4-5ab4-4a40-8e73-4811e1595730",
            "name": "Filter"
        },
        {
            "parameters": {
                "authentication": "serviceAccount",
                "documentId": {
                    "__rl": true,
                    "value": "1vRwH1GqEP-KWBnKMggMQrdRi3hweCf1BRs3arHRmw84",
                    "mode": "list",
                    "cachedResultName": "reminders",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vRwH1GqEP-KWBnKMggMQrdRi3hweCf1BRs3arHRmw84/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "reminder",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vRwH1GqEP-KWBnKMggMQrdRi3hweCf1BRs3arHRmw84/edit#gid=0"
                },
                "filtersUI": {
                    "values": [
                        {
                            "lookupColumn": "validating_day",
                            "lookupValue": "={{ $now.format('d/MM') }}"
                        },
                        {
                            "lookupColumn": "completed",
                            "lookupValue": "=NO"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                -80,
                144
            ],
            "id": "a310bdb3-6521-4001-a27a-964f25a1612e",
            "name": "reminders",
            "credentials": {}
        },
        {
            "parameters": {
                "authentication": "serviceAccount",
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1vRwH1GqEP-KWBnKMggMQrdRi3hweCf1BRs3arHRmw84",
                    "mode": "list",
                    "cachedResultName": "reminders",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vRwH1GqEP-KWBnKMggMQrdRi3hweCf1BRs3arHRmw84/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "reminder",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vRwH1GqEP-KWBnKMggMQrdRi3hweCf1BRs3arHRmw84/edit#gid=0"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "ID": "={{ $('Loop Over Items').item.json.ID }}",
                        "completed": "=SI"
                    },
                    "matchingColumns": [
                        "ID"
                    ],
                    "schema": [
                        {
                            "id": "ID",
                            "displayName": "ID",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "reminder",
                            "displayName": "reminder",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "reminder_date",
                            "displayName": "reminder_date",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "validating_day",
                            "displayName": "validating_day",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "completed",
                            "displayName": "completed",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "created_at",
                            "displayName": "created_at",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "row_number",
                            "displayName": "row_number",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "readOnly": true,
                            "removed": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                1040,
                216
            ],
            "id": "f046645d-278f-4a1e-9943-c1d8252be560",
            "name": "Actualizar reminder",
            "credentials": {}
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "reminders",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "get reminders": {
            "main": [
                [
                    {
                        "node": "If",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait": {
            "main": [
                [
                    {
                        "node": "Actualizar reminder",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "typing": {
            "main": [
                []
            ]
        },
        "message 1": {
            "main": [
                [
                    {
                        "node": "Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Over Items": {
            "main": [
                [],
                [
                    {
                        "node": "typing",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "message 1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "delete reminder": {
            "main": [
                []
            ]
        },
        "If": {
            "main": [
                [],
                [
                    {
                        "node": "delete reminder",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter": {
            "main": [
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "reminders": {
            "main": [
                [
                    {
                        "node": "Filter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Actualizar reminder": {
            "main": [
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {}
}