workflows/clase-3-041225/w-telegram-041225.json
{
    "name": "w-telegram-041225",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1232,
        -16
      ],
      "id": "2f37cf55-e65a-4888-833a-24845b330b27",
      "name": "Telegram Trigger",
      "webhookId": "7f765c10-22fe-4859-ab5d-716869b42da0",
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df0d2f68-e905-46ae-880d-7b333903fb0c",
              "name": "telefono",
              "value": "={{ $json.message.from.id }}",
              "type": "string"
            },
            {
              "id": "6e58199b-a7a9-46c9-9b06-01df72f2f941",
              "name": "first_name",
              "value": "=elimeleth",
              "type": "string"
            },
            {
              "id": "ee7d8abe-121d-4f94-82e1-2425d80bef9d",
              "name": "message",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "494a940e-fded-42e6-93aa-ae56a6e09d72",
              "name": "message_id",
              "value": "={{ $json.message.message_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        -16
      ],
      "id": "53612887-5772-4f90-90f0-0c9c713cedbf",
      "name": "telegram vars"
    },
    {
      "parameters": {
        "amount": 1.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        240,
        -16
      ],
      "id": "456464d6-e9e7-469c-b49e-6fca53fc33a6",
      "name": "Wait",
      "webhookId": "3d558b41-3f58-4f6b-b83a-3c9ba2eee194"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('telegram vars').item.json.telefono }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        -16
      ],
      "id": "1c5ba7e2-d3b7-40a9-a2fd-86088ca953de",
      "name": "typing",
      "webhookId": "67cdecba-9962-43f1-a9ca-381237205a0f",
      "credentials": {}
    },
    {
      "parameters": {
        "chatId": "={{ $('telegram vars').item.json.telefono }}",
        "text": "={{ $('Loop Over Items').item.json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "reply_to_message_id": "={{ $('telegram vars').item.json.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        64
      ],
      "id": "9acbf7e5-58ce-475f-9e0d-6429b6905cb4",
      "name": "message 1",
      "webhookId": "be5a9924-1fe8-4ca1-944e-35957dcf59a1",
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=Actúa como un administrador de tareas. El usuario podrá agregar, listar, editar, eliminar y marcar tareas como completadas.\nUtiliza exclusivamente estas funciones:\n\nappend: agregar una nueva tarea.\n\nupdate: modificar una tarea existente.\n\nlist: mostrar todas las tareas.\n\ndelete: eliminar una tarea.\n\nmark-completed: marcar una tarea como completada.\n\nSi el usuario no especifica claramente la acción, primero muestra sus tareas usando list y luego pregúntale qué desea hacer.\n\nAgregar tareas\n\nCuando el usuario quiera agregar una tarea:\n\nSolicita una descripción exacta de lo que necesita hacer.\n\nGuarda la tarea exactamente como la exprese el usuario.\n\nNo agregues la tarea si ya existe una con la misma descripción; en ese caso informa que ya está registrada y pregunta si desea agregarla de todos modos o no.\n\nEliminar, actualizar o marcar como completada\n\nEstas acciones requieren el identificador de la tarea.\nAntes de proceder:\n\nMuestra la lista de tareas usando list.\n\nPide al usuario el identificador de la tarea que desea modificar.\n\nRespuestas después de ejecutar una acción\n\nDespués de ejecutar cualquier acción:\n\nResponde únicamente con la llamada a la función correspondiente.\n\nLuego, en el mensaje siguiente, ofrece una respuesta breve, clara y no técnica (por ejemplo: “Listo”, “Tarea actualizada”, “Tarea eliminada”, etc.).\n\nNo incluyas explicaciones internas, procesos ni detalles técnicos."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -784,
        -16
      ],
      "id": "08bb09df-74c1-45a1-b09b-be7b93675672",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -784,
        144
      ],
      "id": "016b7df8-8faf-48a7-baf5-ade48f93a2d9",
      "name": "gemini",
      "credentials": {}
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.telefono }}",
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -688,
        224
      ],
      "id": "0fbbd412-2e94-4f91-86d8-d9e8165abf2e",
      "name": "memoria"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -208,
        -16
      ],
      "id": "be74aa2f-2546-44d2-9c91-0f8eabb49a69",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const texts = $input.first().json.output.split('\\n\\n')\n\nreturn texts.map(text => ({\n  json: { text }\n}))"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        -16
      ],
      "id": "eacbd21c-cb9c-4881-a74e-3af93bb54b38",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        16,
        -208
      ],
      "id": "eba35e59-f423-4bb9-96eb-a98f3cfcdc3e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "endpointUrl": "",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -560,
        208
      ],
      "id": "7b4d73cf-07ec-4ef8-8e31-f5cca8b1866c",
      "name": "todo task actions"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "telegram vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telegram vars": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "message 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "typing": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message 1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gemini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "memoria": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "todo task actions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {}
}