workflows/clase-6-070126/tavily-create-task-070126.json
{
    "name": "Tavily - Create Task - 070126",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 6
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -352,
                -400
            ],
            "id": "126c3433-4ef9-4cda-a3dd-e19c98ab420b",
            "name": "Schedule Trigger"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.tavily.com/research",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBearerAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{\n  JSON.stringify({\n    \"input\": $json.INVESTIGACION,\n    \"model\": \"mini\",\n    \"stream\": false,\n    \"citation_format\": \"numbered\"\n  })\n}}\n",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                96,
                -400
            ],
            "id": "73755ce6-bbdf-4227-a9fd-d6d76cf24add",
            "name": "Create Task",
            "credentials": {}
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1MWT61Ak2q6uzMCPNC0W9Sy74kAYzxs554PItS1J3QRc",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "investigacion",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MWT61Ak2q6uzMCPNC0W9Sy74kAYzxs554PItS1J3QRc/edit#gid=0"
                },
                "filtersUI": {
                    "values": [
                        {
                            "lookupColumn": "FECHA",
                            "lookupValue": "={{ $now.format('d/M') }}"
                        },
                        {
                            "lookupColumn": "DONE",
                            "lookupValue": "NO"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                -128,
                -400
            ],
            "id": "f21b0d30-feca-459a-ad9d-90fa629660bc",
            "name": "get task",
            "credentials": {}
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1MWT61Ak2q6uzMCPNC0W9Sy74kAYzxs554PItS1J3QRc",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "investigacion",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MWT61Ak2q6uzMCPNC0W9Sy74kAYzxs554PItS1J3QRc/edit#gid=0"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "row_number": "={{ $('get task').item.json.row_number }}",
                        "DONE": "FALSE",
                        "REQUEST_ID": "={{ $json.request_id }}",
                        "ESTATUS": "={{ $json.status }}"
                    },
                    "matchingColumns": [
                        "row_number"
                    ],
                    "schema": [
                        {
                            "id": "INVESTIGACION",
                            "displayName": "INVESTIGACION",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "ESTATUS",
                            "displayName": "ESTATUS",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "REQUEST_ID",
                            "displayName": "REQUEST_ID",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "FECHA",
                            "displayName": "FECHA",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "DONE",
                            "displayName": "DONE",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "row_number",
                            "displayName": "row_number",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "readOnly": true,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                320,
                -400
            ],
            "id": "af411f65-3222-49cb-8e1a-0922934031c9",
            "name": "update request-id",
            "credentials": {}
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "get task",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Task": {
            "main": [
                [
                    {
                        "node": "update request-id",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "get task": {
            "main": [
                [
                    {
                        "node": "Create Task",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {}
}