workflows/clase-6-070126/tavily-cron-task-070126.json
{
    "name": "tavily-cron-task-070126",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 2
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -864,
                -144
            ],
            "id": "24c92480-cb29-4af5-be91-23f1ee8c177b",
            "name": "cron"
        },
        {
            "parameters": {
                "url": "=https://api.tavily.com/research/{{ $json.REQUEST_ID }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBearerAuth",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -416,
                -144
            ],
            "id": "fbb7e633-3ca9-488c-a10d-5671d3c73e5f",
            "name": "Get Status Task",
            "credentials": {}
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "aef3c024-cbfb-4166-8c2a-ea91dc56f391",
                            "leftValue": "={{ $json.status }}",
                            "rightValue": "=completed",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "or"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                -192,
                -144
            ],
            "id": "e1240296-ad3a-46d1-97dd-d2e34aa7c925",
            "name": "If"
        },
        {
            "parameters": {
                "sendTo": "juancapuanolopez@gmail.com",
                "subject": "=Investigacion completada {{ $now.format('yyyy-MM-dd H:mm a') }}",
                "emailType": "text",
                "message": "=Usage: {{ $json.account.plan_usage }} / {{ $json.account.plan_limit }} Creditos\n\n{{ $('If').item.json.content }}",
                "options": {
                    "appendAttribution": false,
                    "senderName": "Elimeleth"
                }
            },
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                256,
                -48
            ],
            "id": "0678ef86-5233-4aea-8de0-05f154a404d5",
            "name": "Send a message",
            "webhookId": "6a94bfe6-a7aa-409a-ba57-04a6949c1a8e",
            "credentials": {}
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1MWT61Ak2q6uzMCPNC0W9Sy74kAYzxs554PItS1J3QRc",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "investigacion",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MWT61Ak2q6uzMCPNC0W9Sy74kAYzxs554PItS1J3QRc/edit#gid=0"
                },
                "filtersUI": {
                    "values": [
                        {
                            "lookupColumn": "FECHA",
                            "lookupValue": "={{ $now.format('d/M') }}"
                        },
                        {
                            "lookupColumn": "DONE",
                            "lookupValue": "NO"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                -640,
                -144
            ],
            "id": "fc677e47-226b-45f8-a88e-4552b3c36025",
            "name": "get task",
            "credentials": {}
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1MWT61Ak2q6uzMCPNC0W9Sy74kAYzxs554PItS1J3QRc",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "investigacion",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MWT61Ak2q6uzMCPNC0W9Sy74kAYzxs554PItS1J3QRc/edit#gid=0"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "row_number": "={{ $('get task').item.json.row_number }}",
                        "ESTATUS": "completed",
                        "DONE": "SI"
                    },
                    "matchingColumns": [
                        "row_number"
                    ],
                    "schema": [
                        {
                            "id": "INVESTIGACION",
                            "displayName": "INVESTIGACION",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "ESTATUS",
                            "displayName": "ESTATUS",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "REQUEST_ID",
                            "displayName": "REQUEST_ID",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "FECHA",
                            "displayName": "FECHA",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "DONE",
                            "displayName": "DONE",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "row_number",
                            "displayName": "row_number",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "readOnly": true,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                32,
                -240
            ],
            "id": "01432c83-4f8c-4657-9ac6-e5c0593a43c8",
            "name": "mark as completed",
            "credentials": {}
        },
        {
            "parameters": {
                "url": "https://api.tavily.com/usage",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBearerAuth",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                32,
                -48
            ],
            "id": "139671cd-d57f-404c-8134-438d1a7c7866",
            "name": "HTTP Request",
            "credentials": {}
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "get task",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Status Task": {
            "main": [
                [
                    {
                        "node": "If",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If": {
            "main": [
                [
                    {
                        "node": "mark as completed",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "get task": {
            "main": [
                [
                    {
                        "node": "Get Status Task",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "Send a message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {}
}